[submodule "frameserver_sdk"]
	path = frameserver_sdk
	url = https://github.com/NetClean/frameserver_sdk.git
	pushurl = git@github.com:NetClean/frameserver_sdk.git
[submodule "deps"]
	path = docker/deps
	url = ssh://git@bitbucket.intra.netclean.com:7999/an/videocontrolsubprocessdependencies.git
[submodule "libvx"]
	path = libvx
	url = https://github.com/NetClean/libvx.git
	pushurl = git@github.com:NetClean/libvx.git
[submodule "libshmipc"]
	path = libshmipc
	url = https://github.com/NetClean/libshmipc.git
	pushurl = git@github.com:NetClean/libshmipc.git
